<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SuperPython</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
  </head>
  <body>
    <!-- navigation -->
    <div class="navigation">
      <nav class="nav has-shadow">
	<div class="container">
	  <!-- nav site title -->
	  <div class="nav-left">
	    <a class="nav-item">
	      <h3 class="title is-3" style="color: white;">SuperPython</h3>
	    </a>
	  </div>
	  <!-- end of site title -->

	  <!-- this "nav-toggle" hamburger menu is only visible on mobile -->
	  <span class="nav-toggle">
	    <span></span>
	    <span></span>
	    <span></span>
	  </span>
	  <!-- end of toggle -->

	  <!-- this "nav-menu" is hidden on mobile -->
	  <div class="nav-right nav-menu">
	    <a class="nav-item is-tab is-active" href="index.html">
	      SuPyGirls
	    </a>
	    <a class="nav-item is-tab" href="post.html">
	      Kwarwp
	    </a>
	    <a class="nav-item is-tab" href="about.html">
	      About
	    </a>
	  </div>
	  <!-- end of nav -->
	</div>
      </nav>
    </div>
    <!-- end navigation -->

    <!-- page header (title, etc) -->
    <div class="main-header">
      <section class="hero">
	<div class="hero-body">
	  <div class="container">
	    <div class="has-text-centered">
	      <!-- header && subheader -->
	      <h1 class="title is-1 is-spaced">SUPER PYTHON</h1>
	      <h4 class="subtitle is-4">learn python with games</h4>
	      <!-- end of header && subheader -->
	      
	    </div>
	  </div>
	</div>
      </section>
    </div>
    <!-- end page header -->

    <!-- page content -->
    <div class="main-content">
      <div class="container">
	<!-- start of posts -->
	<div class="columns is-multiline is-centered has-text-centered">
	  <!-- start of post -->
	  <div class="column is-4">
	    <div class="card">
	      <!-- image for post -->
	      <div class="card-image">
		<figure class="image is-4by3">
		  <img src="image/camisasuperpython.png" alt="Image">
		</figure>
	      </div>
	      <!-- end of image for post -->
	      
	      <!-- post header -->
	      <div class="card-content-header">
		<h4 class="title is-4"><a href="post.html">SuperPython</a></h4>
	      </div>
	      <!-- end of post header -->
	      Gather your team to develop your own game

	      <!-- post content -->
	    </div>
	  </div>
	  <!-- end of post -->

	  <!-- start of post -->
	  <div class="column is-4">
	    <div class="card">
	      <!-- image for post -->
	      <div class="card-image">
		<figure class="image is-4by3">
		  <img src="image/abertura_kwarwpp.jpg" alt="Kwarwp">
		</figure>
	      </div>
	      <!-- end of image for post -->

	      <!-- post header -->
	      <div class="card-content-header">
		<h4 class="title is-4"><a href="post.html">Kwarwp</a></h4>
	      </div>
	      <!-- end of post header -->
	      Follow the adventures of a brave warrior
	      <!-- post content -->
	    </div>
	  </div>
	  <!-- end of post -->

	  <!-- start of post -->
	  <div class="column is-4">
	    <div class="card">
	      <!-- image for post -->
	      <div class="card-image">
		<figure class="image is-4by3">
		  <img src="image/supygirls_logo.png" alt="Image">
		</figure>
	      </div>
	      <!-- end of image for post -->
	      
	      <!-- post header -->
	      <div class="card-content-header">
		<h4 class="title is-4"><a href="post.html">SuPyGirls</a></h4>
	      </div>
	      <!-- end of post header -->
	      Roll your own game with python
	      <!-- post content -->
	    </div>
	  </div>
	  <!-- end of post -->
	</div>
	<!-- end of posts -->	
      </div>

    </div>
    <!-- end of page content -->

    <!-- footer: will stick to the bottom -->
    <div class="footer footer-top-shadow">
      <div class="container has-text-centered">
	<span class="icon">
	  <i class="fa fa-github"></i>
	</span>
	<p>gaming platform by <a href="https://github.com/SuPyPerson/SuPyGirls">github.com/SuPyPerson/SuPyGirls</a></p>
	<p>this platform is proudly open source</p>
      </div>
    </div>
    <!-- end of footer -->
  </body>
</html>
